/* Font MOnteserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*reset*/

*{margin: 0;
padding: 0;
box-sizing: border-box;
border: 0;
font-family: "Montserrat", sans-serif;
font-size: 16px;
}

/* html{scroll-behavior: smooth;} */

body {background-color: #f8f8f8;}

/* Nav */

nav{
/* border: solid 1px red; */
    width: 100%;
    height: 6.8rem;
    background-color: #eaf55a;
    }

.nav-logo img {margin-top: 0.5rem; margin-left: 1rem; width: auto; height: 4rem; }

.nav-cart img {width: 1.7rem; height: 1.7rem; margin-top: 0.5rem;}
    
.nav-1 { display: flex; justify-content: space-between;}
.nav-bloco-2 {display: flex; justify-content: end; margin: 1rem; gap: 3rem;}

/* nav input {height: 2rem; width: 30rem; border-radius: 10px; border: solid 1px; font-size: 0.8rem;
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 1rem;
 border: 2px solid #d9ff00;
outline: none;} */

    nav input {
        position: relative;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border-radius: 1rem;
    }

    .search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-container input { margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.8rem; /* espaço à direita para o ícone */
}

.search-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.4rem;
    pointer-events: none; /* deixa o clique passar pelo ícone */
    font-size: 1.5rem;
    color: #888;
    margin-top: 1rem;
}

 /* nav input:focus {
  border-color: #0056b3;      /* muda a cor da borda */

nav div .cart_botao {display: flex; gap: 1rem; margin-right: 1rem; margin-top: 1rem;}

nav button { background-color: rgb(150, 150, 207); color: aliceblue; padding: 0.2rem; margin-top: 0.5rem;
                width: 5rem; border-radius: 3rem;
                &:hover {background-color: #030f7a; transition: 0.5s; scale: 1.1; cursor: pointer;}
        }

nav ul {display: flex; justify-content: end; gap: 0.2rem; margin-right: 1rem; margin-top: 0;}


nav li {display: inline-block; justify-content: end;}

nav li a {display: inline-block;
           color:#260247; 
           text-decoration: none;
           padding: 0.4rem;            
}

nav li a:hover {background-color:#c2cc35; box-shadow: 0 0 2px black; border: solid 1px}

.dropdown-menu {position: absolute; 
                box-shadow: 0 0 2px black; 
                display: none; 
                /* width: 30rem;  */
                /* margin: 1rem; */
                /* padding: 0.5rem; */
                border-radius: 4px;
                /* padding: 15px;
                position: absolute; */
        }

.dropdown-menu a {display: block; color: black;}

.dropdown:hover .dropdown-menu{ display: block; background-color: #eaf55a;}
/* .dropdown:hover .dropdown-menu a{ display: block;} */

/* nav a { text-decoration: none; font-size: 0.8rem; color: #0217d3; letter-spacing:0.09rem;
        &:hover{ color:#260247; transition: 0.5s; cursor: pointer;}}
nav li {list-style-type: none;} */

/* .nav-lista-menu-2 {padding-bottom: 1rem;} */




header {width: 100%;
        height: 19rem;
}
header img {width: 100%; height: auto;}
/* centralizar botao comprar sobre a imagem da header */
/* .container { position: relative; display: inline-block;}

.container img { width: 100%; height: auto; display: block;}

.sobre-imagem {position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%); 
        padding: 10px 20px; 
        background-color: rgb(150, 150, 207);
        color:#fffffc;
        border: none;
        cursor: pointer;}  */

.destaques { width: 100%; height: 31rem;}

.destaques h1 {font-size: 2rem; color: #0c2fce; margin: 2rem;}

.destaques div {display: flex; justify-content: center; gap: 5rem;}

.card-produto {
                border:  solid 1px #c0c0c0;
                width: 15rem;
                height:28rem;
                background-color:#fffffc;
                border-radius: 12px ;
                box-shadow: 5PX 5px 5PX #c0bfbf;
                overflow: hidden;
                text-align: center;
                padding: 1rem;
                transform: 0.3s;
                /* display:flex;justify-content: center; */

}

.card-produto img {
  width: auto;  
  height: 13rem;
  border-radius: 100px;
  border: solid 1px #bebcbc;
  box-shadow: 0px 4px 4px #c0bfbf;
}

.card-produto h2 {font-size: 1.1rem;
                  margin: 1.1rem 0 0.5rem;      
}

.card-produto .descricao {
                        font-size: 0.8rem;
                        color: #555;
                        margin-bottom: 0.8rem;
}

.card-produto .preco {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #d9ff00;
                        margin-bottom: 0.8rem;
                        background-color: #555;
                        box-shadow: 2px 4px 4px #a09d9d
}

.card-produto .preco {
  animation: mudarCor 5s infinite;
  padding: 10px;
  color: rgb(223, 221, 221); /* opcional, para garantir contraste */
}

@keyframes mudarCor {
  0%   { background-color: #ff0000; }
  25%  { background-color: #00ff00; }
  50%  { background-color: #0000ff; }
  75%  { background-color: #bac70b; }
  100% { background-color: #ff0000; }
}

.card-produto button {
                        background-color: #d9ff00;
                        color: #2c2a2a;
                        border: none;
                        padding: 0.5rem;
                        border-radius: 0.7rem;
                        cursor: pointer;
                        font-size: 0.9rem;
                        width: 5.7rem;
                        box-shadow: 4px 4px 4px #a09d9d;
                        font-weight: bold;
                        &:hover{ background-color: #ff8800;
                        transition: 0.5S; transform: scale(1.10);}                      
                }       

article:hover {&:hover{ transition: 0.5S; transform: scale(1.10);}}

.forma-pgto {width: 100%; height: 31rem;}

.forma-pgto h1 {font-size: 2rem; color: #0c2fce; margin: 2rem; }

.forma-pgto-div {display: flex; justify-content: center; gap: 5rem;}

.card-cond-especiais {
                border:  solid 1px #c0c0c0;
                width: 20rem;
                height:26rem;
                background-color:#fffffc;
                border-radius: 12px ;
                box-shadow: 5PX 5px 5PX #c0bfbf;
                overflow: hidden;
                text-align: center;
                padding: 1rem;
                transform: 0.3s;
}

.card-cond-especiais img {
  width: auto;  
  height: 12rem;
  border-radius: 5px;
  border: solid 1px #bebcbc;
  box-shadow: 0px 4px 4px #c0bfbf;
  object-fit: contain;
}

.card-cond-especiais h2 {font-size: 1.1rem;
                  margin: 1.1rem 0 0.5rem;      
}

.card-cond-especiais .descricao {
                        font-size: 0.8rem;
                        color: #555;
                        margin-bottom: 0.8rem;
}

.card-cond-especiais .preco {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #d9ff00;
                        margin-bottom: 0.8rem;
                        background-color: #555;
                        box-shadow: 2px 4px 4px #a09d9d
}

.card-cond-especiais .preco {
  animation: mudarCor 5s infinite;
  padding: 10px;
  color: rgb(223, 221, 221); /* opcional, para garantir contraste */
}

.card-cond-especiais li {list-style-type: none; font-size: 0.8rem;}

/* .formas-pgto div {display: flex;} */

.formas-pgto-div img { height: 2rem; width: 2rem;}

.formas-pgto-icone {display: flex; justify-content: center; gap: 1rem; margin-top: 1rem;}

.card-cond-especiais input {height: 2rem; width: 17rem; border-radius: 10px; border: solid 1px; font-size: 0.8rem;
        /* position: relative; */
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 1rem;
 border: 2px solid #bcbdba;
outline: none;}

.card-cond-especiais a { text-decoration: none; font-size: 0.8rem; color: #0217d3; letter-spacing:0.09rem;
        &:hover{ color:#260247; transition: 0.5s; cursor: pointer;}}


.noticias h1 {font-size: 2rem; color: #0c2fce; margin: 3rem; }

form {background: linear-gradient(145deg, #eaf55a 20%, #e5f049 50%, #c2cc35 70%);  /* cor do fundo do fome*/
     width: 60rem; /* reducao do tamaho do fomr*/
     margin: auto; /* centralizando o form na pagina*/
     padding: 32px; /* espaçamento interno do elemento */
    border-radius: 12px; /* borda arredondada*/
    box-shadow: 0 0 12px 2px #b0b0b0;
margin-bottom: 2rem;}

form input {width: 55rem; height: 2rem; border-radius: 10px; border: solid 1px rgb(185, 181, 181); 
        box-shadow: 1px 1px 1px rgb(167, 165, 165); padding: 1rem; margin-top: 0.5rem;}  

form button { background-color: #9696cf; color: aliceblue; padding: 0.2rem; margin-top: 0.5rem;
                width: 5rem; border-radius: 3rem; box-shadow: 3px 3px 3px rgb(201, 199, 199); 
                &:hover {background-color: #030f7a; transition: 0.5s; scale: 1.1; cursor: pointer;}}

form div {display: block; margin-top: 1rem;}

footer {height: 15rem; width: 100%; background-color: #eaf55a;}

.footer-div {display: flex; justify-content:center; gap: 10rem;}

footer a {text-decoration: none; font-size: 0.8rem; margin-top: 1rem; gap: 1rem; }
footer li{list-style-type: none; margin: 0.8rem; font-size: 0.8rem;}

footer h2 {margin-top: 2rem; color:#030f7a}

.footer-2 {height: 5rem; width: 100%; background-color: #c2cc35;
                p{font-size: 0.8rem;}
        }

.lista-redape {display: flex;justify-content: center; gap: 1rem; }

.footer-2 a { padding-left: 0.5rem; border-left: solid 1px;}
.lista-redape .retirar-border a{border-left: none;}

nav ul li {position: relative;}

.whats {  position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 5.5rem;
    width: 5.5rem;
    background-color: #00e441;
    border-radius: 50%;
    box-shadow: 0 5px 8px 1px #00000065;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{transform: translateY(-5px);}

        i { color: white; font-size: 4rem; margin-left: 5px;
}
}